{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": ["prettier", "prettier/@typescript-eslint"],
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "curly": ["error", "all"],
    "@typescript-eslint/camelcase": "off"
  }
}
