/* auto-import all CSS files in components */
@import "./*.css";

:root {
  --blue: #023082;
}

body {
  font-family: "Arial", serif;
  margin: 0;
}

h1 {
  color: var(--blue);
}

figure {
  border-bottom-color: rgb(96, 96, 96);
  border-left-color: rgb(192, 192, 192);
  border-right-color: rgb(128, 128, 128);
  border-style: solid;
  border-top-color: rgb(255, 255, 255);
  border-width: 16px;
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
}

img {
  max-width: 100%;
}
